html {
    width: 1440px;
}
body {
    background-color: hsl(212, 45%, 89%);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
section {
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    width: 400px;
    height: 600px;
}
#qrcode {
    width: 300px;
}
#tagline {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    text-align: center;
}
#directions {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: hsl(212, 45%, 89%);
    text-align: center;
}