html {
    width: 1440px;
}
body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
section {
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    width: 400px;
    height: 620px;
    border-radius: 25px;
    position: relative;
    top: 55px;


}
#qrcode {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    position: relative;
    top: 25px;

}
#tagline {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 35px;
    transform: scale(.75);
    position: relative;
    top: 10px;
}
#directions {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 25px;
    transform: scale(.8);
    color: hsl(220, 15%, 55%);
    position: relative;
    top: -20px;
}
